@import url('https://fonts.cdnfonts.com/css/ropa-sans-2');

footer {
    display: flex;
    justify-content: space-around;
    background-color: #333333;
}

.listaFooter {
    display: block;
    /* background-color: pink; */
    margin-top: 50px;
    font-family: 'Ropa Sans', sans-serif;
}

.listaFooter p {
    color: white;
}

.imgFooter img {
    width: 400px;
    /* background-color: pink; */
    margin-top: 50px;
    margin-bottom: 50px;
}

.redes {
    display: flex;
    /* background-color: blue; */
    justify-content: space-around;
    width: 70%;
}

.redes img {
    height: 30px;
}